<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<!-- Jersey Servlet configurations -->

	<servlet>
		<servlet-name>UserModule</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
		<param-name>jersey.config.server.provider.packages</param-name>
		<param-value>com.usermodule</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserModule</servlet-name>
		<url-pattern>/um/api/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CatalogueModule</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
		<param-name>jersey.config.server.provider.packages</param-name>
		<param-value>com.cataloguemodule</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>CatalogueModule</servlet-name>
		<url-pattern>/cm/api/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CheckOutModule</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
		<param-name>jersey.config.server.provider.packages</param-name>
		<param-value>com.checkoutmodule</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>CheckOutModule</servlet-name>
		<url-pattern>/com/api/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetUsers</servlet-name>
		<jsp-file>/GetUsers.html</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetUsers</servlet-name>
		<url-pattern>/getusers</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SignIn</servlet-name>
		<jsp-file>/SignIn.html</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>SignIn</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SignUp</servlet-name>
		<jsp-file>/SignUp.html</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>SignUp</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Search</servlet-name>
		<jsp-file>/Search.html</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Sell</servlet-name>
		<jsp-file>/Sell.html</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Sell</servlet-name>
		<url-pattern>/sell</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CheckOut</servlet-name>
		<jsp-file>/CheckOut.html</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>CheckOut</servlet-name>
		<url-pattern>/checkout</url-pattern>
	</servlet-mapping>

</web-app>