<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Search</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<header>
		<h1>CartCrafters</h1>
	</header>
	
	<form id="searchForm">
		<label for="term">Search:</label>
		<input type="text" id="term" name="term" required><br>
		<input type="submit" value="Search">
	</form>
	<p id="confirmationMessage"></p>
	
	<div class="container">
		<table id="itemsTable" border="1">
		<tr>
			<th>Item</th>
			<th>Price</th>
			<th>Type</th>
			<th>End Time</th>
			<th>Winner</th>
			<th>ID</th>
		</tr>
		<!-- Rows will be dynamically added here -->
		</table>
	</div>
	
	<script>
    	function clearTable() {
        	var table = document.getElementById("itemsTable");
        	var rowCount = table.rows.length;

        	// Loop through the table and remove each row
        	for (var i = rowCount - 1; i > 0; i--) {
            	table.deleteRow(i);
        	}
   		}
		
		$("#searchForm").submit(function(e){
		e.preventDefault();
		var searchData = {
		term: $("#term").val()
		};
		$.ajax({
			url: "http://localhost:9090/item/search",
			type: 'GET',
			data: searchData,
			success: function(result){
				var table = $("#itemsTable");
				clearTable();
				result.forEach(function(item){
					var row = $("<tr></tr>");
					row.append($("<td></td>").text(item.name));
					row.append($("<td></td>").text(item.price));
					row.append($("<td></td>").text(item.type));
					row.append($("<td></td>").text(item.endTime));
					row.append($("<td></td>").text(item.winner));
					row.append($("<td></td>").text(item.itemID));
					table.append(row);
				});
		
			}, error: function(error){
				console.log(error);
			}
		});
	});
	</script>
	
	
	
</body>
</html>